$color-white: #fff;
$color-black: #000;

// Dark Grey
$color-ink: #212b36;
$color-ink-light: #454f5b;
$color-ink-lighter: #637381;
$color-ink-lightest: #919eab;

// Light Grey
$color-sky-dark: #c4cdd5;
$color-sky: #dfe3e8;
$color-sky-light: #f4f6f8;
$color-sky-lighter: #f9fafb;

// Blue
$color-blue-text: #3e4e57;
$color-blue-darker: #001429;
$color-blue-dark: #084e8a;
$color-blue: #006fbb;
$color-blue-light: #b4e1fa;
$color-blue-lighter: #ebf5fa;

// Indigo
$color-indigo-text: #3e4155;
$color-indigo-darker: #000639;
$color-indigo-dark: #202e78;
$color-indigo: #5c6ac4;
$color-indigo-light: #b3bcf5;
$color-indigo-lighter: #f4f5fa;

// Teal
$color-teal-text: #405352;
$color-teal-darker: #003135;
$color-teal-dark: #00848e;
$color-teal: #47c1bf;
$color-teal-light: #b7ecec;
$color-teal-lighter: #e0f5f5;

// Green
$color-green-text: #414f3e;
$color-green-darker: #173630;
$color-green-dark: #108043;
$color-green: #50b83c; // #86ba38
$color-green-light: #bbe5b3;
$color-green-lighter: #e3f1df;

// Red
$color-red-text: #583c35;
$color-red-darker: #330101;
$color-red-dark: #bf0711; // #eb272c
$color-red: #de3618;
$color-red-light: #fead9a;
$color-red-lighter: #fbeae5;

// Purple
$color-purple-text: rgb(80, 73, 90);
$color-purple-darker: rgb(35, 0, 81);
$color-purple-dark: rgb(80, 36, 143);
$color-purple: rgb(156, 106, 222);
$color-purple-light: rgb(227, 208, 255);
$color-purple-lighter: rgb(246, 240, 253);

// Yellow
$color-yellow-text: #595130;
$color-yellow-darker: #573b00;
$color-yellow-dark: #8a6116;
$color-yellow: #eec200;
$color-yellow-light: #ffea8a;
$color-yellow-lighter: #fcf1cd;

// Orange
$color-orange-text: #594430;
$color-orange-darker: #4a1504;
$color-orange-dark: #c05717;
$color-orange: #f49342;
$color-orange-light: #ffc58b;
$color-orange-lighter: #fcebdb;
