extends ../layouts/html5

block content
   ul
      li
         a(href="accimarket/00-distribucion-de-instrucciones.pug") 00. Distribución de Instrucciones
      li
         a(href="accimarket/01-caucion-bursatil.pug") 01. Causión Bursátil
      li
         a(href="accimarket/02-movimientos-por-contrato.pug") 02. Movimientos por Contrato
      li
         a(href="accimarket/03-seguimiento-de-ordenes-historico.pug") 03. Seguimiento de Órdenes - Históricos
      li
         a(href="test/form-validation.pug") Form Validation